{
    "env": {
        "node": true,
        "mocha": true
    },
    "globals": {
        "expect": true
    },
    "parserOptions": { 
        "ecmaVersion": 2015,
        "sourceType": "module" 
    },
    "plugins": [
        "mocha"
    ],
    "extends": "is2ei"
}
